body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
   
    /* Use Walter Turncoat font for the whole website */
    
    /* Normal weight */
}

.navbar {
    transition: background-color 0.3s ease-in-out;
    font-weight: 700;
}

.brand1 {
    font-size: 30px;
    color: #32e6aa;
    padding-left: 160px; /* Adjust margin to position the brand */
}

.navbar .nav-item:hover {
    color: #32e6aa;
}  

.navbar-light .navbar-nav .nav-link:hover {
    color: #32e6aa;
}

.nav-link {
    list-style: none;
    padding: 0;
    color: black;
}

.nav-link .nav-item {
    margin-right: 20px; /* Adjust margin as needed */
}

.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #32e6aa;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: #32e6aa;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
}

.search.active,
.search:hover {
    width: 200px;
    margin-right: 0px;
}

.search.active:after,
.search:hover:after {
    height: 0px;
}

.search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: black;
    background: transparent;
    outline-width: 0px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar .navbar-collapse {
        justify-content: center; /* Center align items on collapse */
    }

    .col-12.col-lg-auto {
        flex: 1;
        display: flex;
        align-items: center; /* Aligns items vertically */
    }

    .col-12.col-lg-auto .search {
        margin-right: 20px; /* Adjust margin as needed */
    }
}

h1{
    text-align: center;
    padding: 10px 0px;
}

.contact-form {
    background-color: none;
    padding: 20px;
    
    
  }
  
  .contact-form h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
  }

  .contact-form .form-group{
    padding: 10px 0px;

  }
  
  
  .contact-form .form-group .form-control{
    border-radius: 0px;
    font-weight: 700;
    border-color: black;
  }

#submit-btn{
    margin-top: 10px;
    border-radius: 0px;
    
}
  .google-map {
    width: 100%;
    margin-top: 30px;
    padding: 0px 80px;
    /* Style your Google Map container as needed */
  }
  
  @media (max-width: 767px) {
    .contact-form {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
#footer {
    font-family: Georgia, serif;
    font-weight: 500;
  }
  